@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
font-family: "Roboto";
}
p{
    text-align: justify;
    display: inline;
    color: yellow;
    background-color: red;
    text-shadow: 3px 3px 40% yellow;
}
h1{
    text-align: center;
    text-shadow: 5px 5px 5px yellow;
    color: red;
}
body{
    background-color: aquamarine;
    z-index: 1;

    background-image: url('https://i.vimeocdn.com/video/783792828-ddabb6f101cd449ea769fa61854990d599f56eecc2aaba32b07828fa3b01547e-d_640?f=webp');
background-repeat: no-repeat;
background-size: cover;
}
img{
    height: 400px;
    width: 400px;
    filter: drop-shadow(5px 5px 4px rgb(27, 27, 119));
}
#i1{
    right: 100px;
    position: absolute;
}