*{
    font-size: 25px;
}
ul{
    font-size: 2rem;
}
li{
    font-size: 3em;
}
p{
    font-size: 15px;
 }
/* regra de 3 no caso 25 é 100% e para descobrir a porcentagem que equivale a 15 seria 60%  */
h1{
    font-size: 4.8rem;
}
